*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{

  background-color: beige;
}
/* header.book-top{
  display: flex !important;
  justify-content: flex-start !important;
  background-color: black;
  height: 119px;  
} */

header img.image{
  border-radius: 40px;
  
}
header img.image:hover{
  opacity: .7;
}
.wrapper{
  background-color: white;
  width: 80vw;
  margin: 0px auto;
}
.top{
 background-color: black;
  height: 140px;
  display: flex;
  color: wheat;
  justify-content: center;
  align-items: center;
}
.container{
  background-image: url("../img/books1.jpeg");
  background-size:cover;
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container a{
  text-decoration: none;
  color: white;
  font-size: 70px;
  font-weight: 900;
}
.container a:hover{
  color: rgb(219, 55, 55);
}
footer{
 
  /* left: 0; */
  height: 140px;
  bottom: 0;
  width: 80vw;
  background-color: rgb(7, 6, 6);
  color: white;
  text-align: center;
  margin: 0 auto;

}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* book.html */

.book-container{
  
  /* background-color:#50b9b9; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 128px;
}
.card{
  border-radius: 10px;
  padding: 13px 19px; 
    margin:30px;
  border: 1px solid gray;
  width: 250px;
}
.card-title{
  padding: 5px;
}
.card-text{
  padding: 5px;
 
}

.card img{
  width: 210px ;
  height: 210px;
  border-radius: 10px;
 
  
}
.title{
  height: 90px;
}

.book{
  padding: 40px 0px 20px 30px;
  
}

section.text{
  padding: 39px 35px 0 0px;
}

/* individual book-page */

.book-in-container{
  display: flex;
  
}

.book-image{
  width: 234px;
    height: 322px;
}

section.text{
  padding: 40px ;
}

main.book-in{
  margin-bottom: 185px;

}




/* responsive */


 @media only screen and (max-width: 840px) {
   img.book-image {
    width: 350px;
  } 
  .book-in-container{
    background-color: #5c9b862e;
  }
  .book-in-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightcoral;
  }
  main{
   padding: 40px;
  }
} 